django
django-extensions
python-postmark
python-postmark-inbound
django-storages
django-pipeline
django-sass-processor
django-localflavor
django-debug-toolbar
requests
pyyaml
inflection
beautifulsoup4
sunlight
boto
jsonfield
django_compressor
csscompressor
libsass
psycopg2
gunicorn
eventlet
redis
Celery
dj-database-url
djangorestframework
markdown
django-filter
python-memcached
ansible
