//  Animations


// Button Shake

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  25%, 75% {
    transform: translate3d(-5px, 0, 0);
  }

  50%, 95% {
    transform: translate3d(5px, 0, 0);
  }
}


//  Machine Illustration Animation

g.cog-1 {
    // webkit only for now since svg transform-origin support is lacking in FF
    -webkit-animation: rotate 20s infinite;
    transform-origin: center;
    animation-timing-function: linear;
}

g.cog-2 {
    // webkit only for now since svg transform-origin support is lacking in FF
    -webkit-animation: rotate 15s infinite;
    transform-origin: center;
    animation-timing-function: linear;
}

.pipe-2 {
    animation: shake-x 400ms infinite;
}

.pipe-3,
.pipe-6 {
    animation: shake-y 400ms infinite;
}

.pipe-4 {
    animation: shake-x 2s infinite;
}


@keyframes rotate {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@keyframes shake-x {
    0% {}
    75% { transform: translateX(0px) }
    100% { transform: translateX(4px) }
}

@keyframes shake-y {
    0% {}
    75% { transform: translateY(0px) }
    100% { transform: translateY(2px) }
}
