// Branding bar customization

.branding-bar {
    background-color: #fff !important;
    border-bottom: 1px solid #f0f0f0;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;

    a:link,
    a:hover {
        border-bottom: none;
    }

    // Custom branding bar styles for hero area
    .hero & {
        background-color: transparent !important;
        border-bottom: 1px solid rgba(255,255,255,.25);
        color: #fff;
        position: absolute;
        top: 0;
        z-index: 1;

        a.branding-bar_trigger,
        a.social [class^="sficon-"],
        a.social [class*=" sficon-"],
        .branding-bar_productof {
            color: #fff !important;
        }

        // Use light version of sunlight logo in hero
        a.branding-bar_sunlight-logo {
            background: url('https://sunlight-cdn.s3.amazonaws.com/brandingbar/0.3/img/sunlight-logo-light.png') no-repeat 50% 50% !important;
            background: rgba(0, 0, 0, 0) url('https://sunlight-cdn.s3.amazonaws.com/brandingbar/0.3/img/sunlight-logo-light.svg') no-repeat 50% 50% !important;
        }
    }
}
