// Form Components

.form {

    &__group {
        @include make-row(0);
        min-height: 38px;
        position: relative;

        @include breakpoint(768px){
            margin-bottom: 24px;
        }

        &:last-of-type {
            margin-bottom: 10px;
        }

        [class*="col-"] {
            padding-left: 0px;
            padding-right: 0px;
            transition: width 1000ms;

            &:not(:first-child) {
                @include breakpoint(768px){
                    padding-left: 4px;
                }
            }

            &.is-concealed {
                @include breakpoint(768px){

                    opacity: 0;
                    position: absolute;
                    width: 0;

                    .form__input, .form__select {
                        position: absolute;
                    }
                }
            }

            &.is-fullwidth {
                @include breakpoint(768px){
                    width: 100%;
                    position: absolute;

                    .form__input, .form__select {
                        position: absolute;
                    }
                }
            }

            &.zip-wrap {
                @include breakpoint(768px){
                    position: absolute;
                    right: 0;
                }
            }
        }

        &.has-error {
            margin-bottom: 45px;
        }
    }

    &__disclaimer {
        display: inline-block;
        margin: 25px 0;
        text-align: center;
        width: 100%;
    }

    &__error {
        color: $red;
        font-size: $micro;
        line-height: 16px;
        position: relative;

        &--zip {
            @extend .form__error;
            margin: -15px 10px -15px;

            @include breakpoint(768px){
                position: absolute;
                margin: 0 10px 40px;
                top: 40px;
            }
        }
        &--clickable {
            @extend .form__error;
            cursor: pointer;
        }
    }

    &__tip {
        &::before {
            background: url("../images/icon_question--red.svg") no-repeat;
            background-size: cover;
            content: " ";
            left: -25px;
            height: 16px;
            position: absolute;
            top: 0;
            width: 16px;
        }
    }

    // Form Input Components

    &__input {
        background-color: lighten($gray-lighter, 3%);
        border: none;
        box-shadow: 0px 1px 0px $gray-light;
        color: $gray-dark;
        font-size: $beta;
        left: 0;
        margin-bottom: 24px;
        outline: 0;
        padding: 8px;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 1;
        
        @include breakpoint(768px){
            margin-bottom: 0;
        }

        &--masked {
            @extend .form__input;
            letter-spacing: 1px;
        }

        &:focus {
            box-shadow: 0px 1px 0px $gray-dark;
        }

        &.is-invalid {
            background: lighten($red, 45%);
            box-shadow: 0px 1px 0px $red;
        }

        &:focus + .form__label {
            color: $gray-dark;
            padding: 12px;
            top: -30px;
            z-index: 2;
        }
    }

    &__readonly {
        background: $gray-lighter;
        cursor: not-allowed;
        font-family: $font-family-mono;
        font-size: $gamma;
        margin-bottom: 25px;
        max-height: 200px;
        overflow-y: scroll;
        padding: 25px;

        p {
            padding: 0 15px;
        }
    }

    &__label {
        color: transparent;
        font-size: $micro;
        font-weight: normal;
        padding: 12px;
        position: absolute;
        text-transform: uppercase;
        transition: all 200ms;
        width: 100%;
        z-index: -1;
        
        bottom: 0;
        top: -15px;
        left: 0;
    }

    &__select {
        // overrides browser defaults
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        
        // custom appearance
        background: lighten($gray-lighter, 3%) url("../images/arrow_drop_down.svg") no-repeat 90% 70%;
        box-shadow: 0px 1px 0px $gray-light;/
        color: $gray-dark;
        font-size: $beta;
        margin-bottom: 24px;
        overflow: hidden;
        padding: 8px;
        width: 100%;

        &:focus {
            box-shadow: 0px 1px 0px $gray-dark;
        }

        @include breakpoint($screen-sm){
            background: lighten($gray-lighter, 3%) url("../images/arrow_drop_down.svg") no-repeat 98% 70%;
        }/

        @include breakpoint(768px){
            margin-bottom: 0;
        }

        &.is-gray {
            color: $gray;
        }

        &.is-invalid {
            background-color: lighten($red, 45%);
            box-shadow: 0px 1px 0px $red;
        }
    }

    &__errorlist {
        background: lighten($red, 35%);
        border: 1px solid $red;
        list-style: none;
        margin-bottom: 25px;
        padding: 15px;
    }
}

#message-form {
    margin-bottom:50px;
}

// Email form
.email-form-wrapper {
    position: relative;

    &:before {
        @include triangle(16px, #fff);
        content: ''; 
        position: absolute;
        left: 48%;
        left: calc(50% - 16px);
        top: 0;
    }

    .form__label {
        display: none;
    }

    .button {
        margin-top: 0;
        padding: 9px 14px 8px;
    }
}


// Placeholder text

::-webkit-input-placeholder {
    color: $gray;
    letter-spacing: 0px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $gray;
    letter-spacing: 0px;
}
:-ms-input-placeholder {
    color: $gray;
    letter-spacing: 0px;
}
:-moz-placeholder { /* Firefox 18- */
    color: $gray;
    letter-spacing: 0px;
}