// Header

.header {
    background: $white;
    padding: 10px 0;
    transition: padding 150ms;

    @include breakpoint($screen-sm){
        padding: 30px 0;
    }
    
    &__logo {
        display: block;
        margin: auto;
        transition: width 150ms;
        width: 160px;
        padding-top: 10px;
        padding-bottom: 10px;

        @include breakpoint($screen-sm){
            width: 200px;
        }
    }
}
