// Colors

$brand: #18a489;

$blue:  #4fa3ec;
$green:  #18a489;
$red:  #e0522b;

$white:  #fff;

$background: #f4f6f9;               // Page Background Color
$gray-dark: #222;                   // Main Text Color
$gray: #999;
$gray-light: #ccc;
$gray-lighter: #f0f0f0;


// Media Query Screen Sizes
$screen-sm: 375px;
$screen-md: 600px;


// Typography

$font-family-sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-mono: courier, monospace;

$alpha: 19px;
$beta: 16px;
$gamma: 14px;
$micro: 12px;
