<table class="container footer" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: inherit; vertical-align: top; width: 580px">
    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top" align="left" valign="top">
            <table class="ten columns" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: left; vertical-align: top; width: 480px">
                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                    <td height="10" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top"></td>
                </tr>
                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                    <td class="center" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px; text-align: center; vertical-align: top" align="center" valign="top">
                        <center style="min-width: 480px; width: 100%">
                            <p class="footer-center-content" style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 12px; font-weight: normal; line-height: 19px; margin: 0px 0px 20px; padding: 0; text-align: center" align="center">
                                Have you moved? Let's make sure your information is up to date.
                                <br />
                                <a href="{{ context.user.address_change_link }}" style="color: #333333 !important; text-decoration: underline">Update your information here.</a>
                            </p>
                            <p class="footer-center-content" style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 12px; font-weight: normal; line-height: 19px; margin: 0px 0px 20px; padding: 0; text-align: center" align="center">This service is offered by the <a href="https://sunlightfoundation.com" style="color: #333333 !important; text-decoration: underline">Sunlight Foundation</a> and is not affiliated with Congress.</p>
                            <p class="center-content" style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 12px; font-weight: normal; line-height: 19px; margin: 0px 0px 20px; padding: 0; text-align: center" align="center">
                            </p><ul style="padding: 0px">
                                <li style="display: inline; list-style: none"><a href="{{ context.url_for_static('/faq', True) }}" style="color: #2ba6cb; font-size: 12px; padding: 6px; text-decoration: none">FAQ</a></li>
                                <li style="display: inline; list-style: none"><a href="https://sunlightfoundation.com/legal/terms/" style="color: #2ba6cb; font-size: 12px; padding: 6px; text-decoration: none">Terms of Service</a></li>
                                <li style="display: inline; list-style: none"><a href="https://sunlightfoundation.com/legal/privacy/" style="color: #2ba6cb; font-size: 12px; padding: 6px; text-decoration: none">Privacy Policy</a></li>
                            </ul>
                        </center>
                    </td>
                    <td class="expander" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px" align="left" valign="top"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>