{% extends 'www/base.html' %}

{% block title %}
    Email Congress - Check your email inbox
{% endblock %}

{% block content %}

    <section class="section">
        {% include 'icon_user.svg' %}
        <h2 class="section__heading">Almost done&mdash;check your email!</h2>
        <p class="section__description">
            An email has been sent to you with a verification link. You'll be ready to go as soon as you click on the verification link. If you don't see an email in your inbox then please check your spam folder.
        </p>
    </section>

{% endblock %}