{% extends 'www/base.html' %}{% load emailcongress_filters %}

{% block title %}
    {% spaceless %}
    {{ block.super }} -
    {% if msg %}
    Your message is on its way!
    {% elif umi %}
    Great you're signed up!
    {% else %}
    Check your email inbox
    {% endif %}
    {% endspaceless %}
{% endblock %}

{% block content %}
    {% if user %}
    <section class="section">
        {% if msg %}
        {% include 'icon_check.svg' %}
        <h2 class="section__heading">Message sent!</h2>
        <p class="section__description">
            Your email is now on its way to {{ msg.legislators|humanize_legislator_list }}.
        </p>
        {% elif address_updated %}
        {% include 'icon_check.svg' %}
        <h2 class="section__heading">Great, we updated your information!</h2>
        <p class="section__description">
            You may now continue to message your representatives in Congress via email.
        </p>
        {% elif email_verify %}
        {% include 'icon_check.svg' %}
        <h2 class="section__heading">Great, you're signed up!</h2>
        <p class="section__description">
            You may now message your representatives in Congress via email.
        </p>
        {% else %}
        {% include 'icon_user.svg' %}
        <h2 class="section__heading">Great, your account is active!</h2>
        <p class="section__description">
            You are able to message your representatives in Congress via email.
        </p>
        {% endif %}
    </section>
    <section class="content">
        <div class="faq__div--main">
            <h3 class="content__header">
                <strong>What's next?</strong> You can use <a href="mailto:myreps@emailcongress.us">myreps@emailcongress.us</a>
                to write to all of your representatives at once. Or send individual emails:
            </h3>
            {% include 'www/partials/your_reps.html' with user=user %}
            <h3 class="content__header"><strong>Tips for emailing Congress {% if msg %}next time{% endif %}</strong></h3>
            <hr>
            {% include 'www/partials/faq_tips.html' %}
        </div>
    </section>
    {% else %}
    <section class="section">
        {% include 'icon_user.svg' %}
        <h2 class="section__heading">Almost done&mdash;check your email!</h2>
        <p class="section__description">
            An email has been sent to you with a verification link. You'll be ready to go as soon as you click on the verification link. If you don't see an email in your inbox then please check your spam folder.
        </p>
    </section>
    {% endif %}
{% endblock %}