{% extends 'www/base.html' %}

{% block title %}
    {{ block.super }} - Verify your contact information to send your e-mail.
{% endblock %}

{% block content %}

    <section class="section">
    {% if msg %}
        {% include 'machine.svg' %}
        <h2 class="section__heading">Let's get your message to Congress.</h2>
        <p class="section__description">
            Contacting Congress should be as easy as email. We just need some info to make that happen.
        </p>
    {% else %}
        {% include 'icon_user.svg' %}
        <h2 class="section__heading">Let's get your information updated.</h2>
        <p class="section__description">
            This helps us ensure that we're delivering your messages to the right representatives.
        </p>
    {% endif %}
    </section>

    <section class="content">
        <form id="address-form" class="form" method="POST" action="">
            {% csrf_token %}
            {% include 'www/forms/address_form.html' with form=form %}
        </form>
    </section>

{% endblock %}