{% load emailcongress_filters %}
<div class="legislator_card">
    <div class="legislator_card_img">
        <img src="{{ leg|call:"image_url" }}" onerror="img_missing(this);"/>
    </div>
    <div class="legislator_card_info">
        <h5>{{ leg.full_title }}</h5>
        <h5>{{ leg.full_name }}</h5>
    </div>
    {% if context.msg %}
        <div class="legislator_card_checkbox">
            <input type="checkbox" name="legislator_{{ loop.index0 }}" value="True" checked>
        </div>
    {% endif %}
</div>