{% extends 'www/base.html' %}

{% block title %}
{{ block.super }} - 500
{% endblock %}

{% block main %}
    <section class="section">
        <h2 class="section__heading">An internal server error has occurred.</h2>
        <h4>
            Our development team has been notified and is looking into the problem.
            If the error persist then please <a href="mailto:labs@sunlightfoundation.com">contact us</a>.
            You can return to the homepage <a href="/">here</a>.
        </h4>
    </section>
{% endblock %}