{% load staticfiles %}{% load pipeline %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="Contacting Congress is now as easy as email. Email Congress is a web service allowing U.S. residents to email their Congressional representatives, a product of the Sunlight Foundation.">
<meta name="keywords" content="email congress, email representatives, contact congress, write congress">
<meta name="author" content="Sunlight Foundation">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="EdnpiQpviE9253VW5UTfTcGp9H-7BaEgjfxzjIG17v0" />

<!-- Social -->
<meta property="og:site_name" content="Email Congress">
<meta property="og:title" content="Email Congress">
<meta property="og:description" content="Contacting Congress is now as easy as email. Email Congress is a web service allowing U.S. residents to email their Congressional representatives." />
<meta property="og:type" content="website" />
<meta property="og:image" content="{% static "images/flag-background.jpg" %}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@sunlightlabs" />
<meta name="twitter:image" content="{% static "images/flag-background.jpg" %}"/>
<meta name="twitter:title" content="Email Congress" />
<meta name="twitter:description" content="Contacting Congress is now as easy as email. Email Congress is a web service allowing U.S. residents to email their Congressional representatives." />

<link rel="icon" href="{% static 'images/favicon.png' %}">
<!--[if IE]><link rel="shortcut icon" href="{% static 'images/favicon.png' %}"><![endif]-->

<!-- CSS -->
<link rel="stylesheet" type='text/css' href="//sunlight-cdn.s3.amazonaws.com/brandingbar/0.4/css/brandingbar.min.css.gz">
<link rel="stylesheet" type='text/css' href="//sunlight-cdn.s3.amazonaws.com/sf-icons/0.2/css/sf-icons.min.css.gz">
{% stylesheet 'all' %}

<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' />