<p>
    <span class="semibold">Keep it short.</span>
    Many congressional websites have a character or word limit and you can share more once a staffer responds to you.
</p>
<p>
    <span class="semibold">You can only email your representatives.</span>
    Due to the way congressional websites are designed, we can only connect you to the members representing the address you provided us. Feel free to ask the members who represents you to forward your message to other members you’d like to contact. You can also mail a letter or call a member’s office by <a href="https://www.usa.gov/elected-officials">looking up that information</a> on usa.gov.
</p>
<p>
    <span class="semibold">Stick to one issue.</span>
    Keep your communication to a single topic and explain how the issue would affects you. This will help the office connect you with the relevant person.
</p>
<p>
    <span class="semibold">Include a bill name/number if possible.</span>
    You can look up bills on <a href="https://www.congress.gov/">Congress.gov</a> or <a href="https://www.govtrack.us/">GovTrack.us</a>.
</p>
<p>
    <span class="semibold">Be respectful and don’t threaten anyone.</span>
    This is also true in other human communications.
</p>
<p>
    <span class="semibold">Remember we’re not Congress.</span>
    This service is operated by the Sunlight Foundation, a nonpartisan nonprofit dedicated to government transparency and accountability.
</p>