{% extends 'emails/base.html' %}{% load emailcongress_filters %}

{% block preview_text %}
Signup Successful!
{% endblock %}

{% block content %}

    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td class="center" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px; text-align: center; vertical-align: top" align="center" valign="top">
            <center style="min-width: 380px; width: 100%">
                <img class="capitol" src="https://sunlight-cdn.s3.amazonaws.com/emails/phantom-mask/yellow-capitol.png" width="72" height="90" alt="Sunlight Foundation" style="-ms-interpolation-mode: bicubic; clear: both; display: block; float: none; height: 90px; image-rendering: auto; max-width: 100%; outline: none; text-decoration: none; width: 72px" align="none" />
            </center>
        </td>
    </tr>

    <tr>
        <td class="panel-border" style="background: #fefae7; border-collapse: collapse !important; border-style: solid none none; border-top-color: #FFF3BE !important; border-top-width: 2px !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 20px 30px; text-align: left; vertical-align: top" align="left" bgcolor="#fefae7" valign="top">
            <h1 style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 20px; font-weight: bold; line-height: 28px; margin: 0; padding: 0; text-align: left; word-break: normal" align="left">Thanks for filling out your information!</h1>
        </td>
    </tr>

    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td height="30" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top"></td>
    </tr>

    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
            <p style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 27px; padding: 0; text-align: left" align="left">
                We use the information you filled out to navigate the forms that congressional offices require. Also, you can
                <a href="{{ verification_link }}">update your information at any time</a>.
            </p>
        </td>
    </tr>

    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td height="30" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top"></td>
    </tr>

    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
            <p style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 27px; padding: 0; text-align: left" align="left">
                Contact individual members who represent you in Congress at:
                <ul>
                    {% for member in members_of_congress %}
                        <li>{{ member.full_title_and_full_name }} - <a href="mailto:{{ member.email }}">{{ member.email }}</a></li>
                    {% endfor %}
                </ul>
            </p>
        </td>
    </tr>

    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
            <p style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 27px; padding: 0; text-align: left" align="left">
                Or contact all of them at once using <a href="mailto:myreps@emailcongress.us">myreps@emailcongress.us</a>
            </p>
        </td>
    </tr>

    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td height="30" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top"></td>
    </tr>

    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
            <h1 style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 20px; font-weight: bold; line-height: 28px; margin: 0px 0px 0px 25px; padding: 0; text-align: left; word-break: normal" align="left">Tips for emailing Congress:</h1>

            <table class="row" style="border-collapse: collapse; border-spacing: 0; display: block; padding: 0px; position: relative; text-align: left; vertical-align: top; width: 100%">
                <tbody>
                    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                        <td class="wrapper last" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; position: relative; text-align: left; vertical-align: top" align="left" valign="top">
                            <table class="six columns" style="border-collapse: collapse; border-spacing: 0; margin: 15px auto 0; text-align: left; vertical-align: top; width: 420px">
                                <tbody>
                                    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
                                            <h2 style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 16px; font-weight: bold; line-height: 1.3; margin: 0 0 0 75px; padding: 2px 0 14px; text-align: left; word-break: normal" align="left">Keep it short.</h2>
                                                <p class="icon-description" style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 75px; padding: 0; text-align: left" align="left">
                                                    Many congressional websites have a character or word limit and you can share more once a staffer responds to you.
                                                </p>
                                        </td>
                                    <td class="expander" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px" align="left" valign="top"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="six columns" style="border-collapse: collapse; border-spacing: 0; margin: 15px auto 0; text-align: left; vertical-align: top; width: 420px">
                                <tbody>
                                    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
                                            <h2 style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 16px; font-weight: bold; line-height: 1.3; margin: 0 0 0 75px; padding: 2px 0 14px; text-align: left; word-break: normal" align="left">You can only email your representatives.</h2>
                                                <p class="icon-description" style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 75px; padding: 0; text-align: left" align="left">
                                                    Due to the way congressional websites are designed, we can only connect you to the members representing the address you provided us. Feel free to ask the members who represents you to forward your message to other members you’d like to contact. You can also mail a letter or call a member’s office by <a href="https://www.usa.gov/elected-officials#Contact_Your_Representative_in_the_U.S._Congress" target="_new">looking up that information</a>.
                                                </p>
                                        </td>
                                    <td class="expander" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px" align="left" valign="top"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="six columns" style="border-collapse: collapse; border-spacing: 0; margin: 15px auto 0; text-align: left; vertical-align: top; width: 420px">
                                <tbody>
                                    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
                                            <h2 style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 16px; font-weight: bold; line-height: 1.3; margin: 0 0 0 75px; padding: 2px 0 14px; text-align: left; word-break: normal" align="left">Stick to one issue.</h2>
                                                <p class="icon-description" style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 75px; padding: 0; text-align: left" align="left">
                                                    Keep your communication to a single topic and explain how the issue would affects you. This will help the office connect you with the relevant person.
                                                </p>
                                        </td>
                                    <td class="expander" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px" align="left" valign="top"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="six columns" style="border-collapse: collapse; border-spacing: 0; margin: 15px auto 0; text-align: left; vertical-align: top; width: 420px">
                                <tbody>
                                    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
                                            <h2 style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 16px; font-weight: bold; line-height: 1.3; margin: 0 0 0 75px; padding: 2px 0 14px; text-align: left; word-break: normal" align="left">Include a bill name/number if possible.</h2>
                                                <p class="icon-description" style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 75px; padding: 0; text-align: left" align="left">
                                                    You can look up bills on <a href="https://congress.gov/" target="_new">Congress.gov</a> or <a href="https://www.govtrack.us/">GovTrack.us</a>.
                                                </p>
                                        </td>
                                    <td class="expander" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px" align="left" valign="top"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="six columns" style="border-collapse: collapse; border-spacing: 0; margin: 15px auto 0; text-align: left; vertical-align: top; width: 420px">
                                <tbody>
                                    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
                                            <h2 style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 16px; font-weight: bold; line-height: 1.3; margin: 0 0 0 75px; padding: 2px 0 14px; text-align: left; word-break: normal" align="left">Be respectful and don’t threaten anyone.</h2>
                                                <p class="icon-description" style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 75px; padding: 0; text-align: left" align="left">
                                                    This is also true in other human communications.
                                                </p>
                                        </td>
                                    <td class="expander" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px" align="left" valign="top"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="six columns" style="border-collapse: collapse; border-spacing: 0; margin: 15px auto 0; text-align: left; vertical-align: top; width: 420px">
                                <tbody>
                                    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
                                            <h2 style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 16px; font-weight: bold; line-height: 1.3; margin: 0 0 0 75px; padding: 2px 0 14px; text-align: left; word-break: normal" align="left">Remember we’re not Congress.</h2>
                                                <p class="icon-description" style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 75px; padding: 0; text-align: left" align="left">
                                                    This service is operated by the Sunlight Foundation, a nonpartisan nonprofit dedicated to government transparency and accountability.
                                                </p>
                                        </td>
                                    <td class="expander" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px" align="left" valign="top"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
            {% include 'emails/snippets/_thank_you.html' %}
        </td>
    </tr>

{% endblock %}