{% load widget_tweaks %}{% load emailcongress_filters %}

{% if form.errors %}
    <ul class="form__errorlist">
        <li><strong>Whoops! Please fix these problems with your form.</strong></li>
        <ul>
        {% for error in form.non_field_errors %}
            <li>{{ error|safe }}</li>
        {% endfor %}
        </ul>
        {% for field in form %}
            {% if field.errors and field != '__all__' %}
              <strong>{{ field.label }}:</strong>
            {% endif %}
            <ul>
            {% for error in field.errors %}
                <li>{{ error|safe }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endif %}

<div class="form__group">
    <div class="col-sm-2">
        <select name="{{ form.prefix.html_name }}" id="{{ form.prefix.html_name }}" class="form__select {% if not form.cleaned_data.prefix %}is-gray{% endif %}{% if form.prefix.errors %} is-invalid{% endif %}" required="required">
        {% for id, name in form.prefix.field.choices %}
            {% if form.cleaned_data.prefix == name or umi and form.cleaned_data.prefix == umi.prefix %}
                <option selected value="{{ name }}">{{ name }}</option>
            {% elif name == '---------' %}
                <option disabled {% if not form.cleaned_data.prefix %}selected{% endif %} value="{{ name }}">{{ name }}</option>
            {% else %}
                <option value="{{ name }}">{{ name }}</option>
            {% endif %}
        {% endfor %}
       </select>
    </div>
    <div class="col-sm-5">
        {{ form.first_name|add_error_class:"is-invalid" }}
        <label for="{{ form.first_name.id_for_label }}" class="form__label">{{ form.first_name.label }}</label>
    </div>
    <div class="col-sm-5">
        {{ form.last_name|add_error_class:"is-invalid" }}
        <label for="{{ form.last_name.id_for_label }}" class="form__label">{{ form.last_name.label }}</label>
    </div>
</div>

<div class="form__group">
    <div class="col-sm-9">
        {{ form.street_address|add_error_class:"is-invalid" }}
        <label for="{{ form.street_address.id_for_label }}" class="form__label">{{ form.street_address.label }}</label>
    </div>
    <div class="col-sm-3">
        {{ form.street_address2|add_error_class:"is-invalid" }}
        <label for="{{ form.street_address2.id_for_label }}" class="form__label">{{ form.street_address2.label }}</label>
    </div>
</div>

<div class="form__group autofill__group" id="autofill__group">

    <div class="col-sm-7 {% if not form.errors %}is-hidden is-concealed{% endif %} city-wrap">
        {{ form.city|add_error_class:"is-invalid" }}
        <label for="{{ form.city.id_for_label }}" class="form__label">{{ form.city.label }}</label>
    </div>

    <div class="col-sm-2 {% if not form.errors %}is-hidden is-concealed{% endif %} state-wrap">
        <select name="{{ form.state.html_name }}" id="{{ form.state.html_name }}" class="form__select {% if not form.cleaned_data.state %}is-gray{% endif %}{% if form.state.errors %} is-invalid{% endif %}" required="required">
        {% for id, name in form.state.field.choices %}
            {% if form.cleaned_data.state == name %}
                <option selected value="{{ name }}">{{ name }}</option>
            {% elif name == '---------' %}
                <option disabled {% if not form.cleaned_data.state %}selected{% endif %} value="{{ name }}">{{ name }}</option>
            {% else %}
                <option value="{{ id }}">{{ id }}</option>
            {% endif %}
        {% endfor %}
       </select>
    </div>

    <div class="col-sm-3 is-fullwidth zip-wrap">
        {{ form.zip|add_error_class:"is-invalid" }}
        <label for="{{ form.zip.id_for_label }}" class="form__label">{{ form.zip.label }}</label>
    </div>
    <p id="no-zip4-error" class="form__error--zip" style="display:none;">
        We couldn't determine your full zipcode.
        Use <a target="_blank" href="https://tools.usps.com/go/ZipLookupAction!input.action">this tool</a> to find the last four digits.
    </p>
    {% if district_error %}
    <p id="no-district-error" class="form__error">
        Sorry! We were not able to identify a congressional district associated with this address. Double
        check your address information or try using <a target="_blank" href="https://www.usa.gov/elected-officials">this guide</a>
        provided by the government.
    </p>
    {% endif %}
</div>

<div class="form__group">
    <div class="{% if not umi %}col-sm-4{% else %}col-sm-12{% endif %}">
        {{ form.phone_number|add_error_class:"is-invalid" }}
        <label for="{{ form.phone_number.id_for_label }}" class="form__label">{{ form.phone_number.label }}</label>
     </div>
    {% if not umi %}
    <div class="col-sm-8">
        {{ form.email|add_error_class:"is-invalid" }}
        <label for="{{ form.email.id_for_label }}" class="form__label">{{ form.email.label }}</label>
     </div>
    {% endif %}
</div>

<p class="form__disclaimer">By using this service, I agree to the <a target="_blank" href="https://sunlightfoundation.com/legal/terms/">terms of service</a> and <a target="_blank" href="https://sunlightfoundation.com/legal/privacy/">privacy policy</a>.</p>

<button class="button" type="submit" name="signup" value="{% if not msg and not umi %}signup{% endif %}" >
    {% if msg %}
    Sign up and send my message
    {% elif umi %}
    Update my information
    {% else %}
    Signup
    {% endif %}
</button>

<div class="content__notes">
    <p>
        <strong>Members of Congress don't have official emails for the public to use.</strong> This service makes navigating their required web forms as easy as emailing them.
    </p>
    <p>
        If you don't want to use this service and would like an alternative method to communicate with Congress, follow <a target="_blank" href="https://www.usa.gov/elected-officials">this guide</a> provided by usa.gov.
    </p>
    <p>
        This service is offered by the Sunlight Foundation and is not affiliated with Congress.
    </p>
</div>

