<form id="email-form" class="form" method="POST" action="{{ form.post_action_url }}">
    <input type="hidden" name="csrf_token" value="{% csrf_token %}" />

    {% if form.errors %}
        <ul class="form__errorlist">
            <li><strong>Whoops! Please fix these problems with your form.</strong></li>
            {% for field in form.ordered_fields_errors %}
                {% for error in field.errors %}
                      <li>{{ error|safe }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <h3 class="section__description u-text-light" data-js="update_address-h3" style="display:none">Enter the email you used, and we'll send you a link to update your info.</h3>
    <h3 class="section__description u-text-light" data-js="remind_reps-h3" style="display:none">Enter the email you used, we'll send you a list of your reps.</h3>

    <div class="form__group">
        <div class="col-sm-8">
            {% if form.email.errors %}{% set classes="form__input is-invalid" %}{% else %}{% set classes="form__input" %}{% endif %}
            {{ form.email(class=classes, type="email", placeholder="E-Mail", required="required") }}
            {{ form.email.label(class="form__label") }}
        </div>
        <div class="col-sm-4">
            <button class="button" type="submit" name="submit_type" value="">
                Submit
            </button>
        </div>
    </div>

    <span class="u-text-light" data-js="email-form-message" style="display:none"></span>

</form>